body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

.container{
    display: flex;
}

.border{
    border: black solid .5px;
    width: 10px;
    height: 10px;
}

.black{
    background-color: black;
}

.yellow{
    background-color: yellow;
}

.fake{
    border: rgb(255, 255, 255) solid .5px;
    width: 10px;
    height: 10px;
}